nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 32px;
    font-weight: bold;
    text-shadow: 0px 0px 5px var(--text);
}
.logo:hover {
    text-shadow: 0px 0px 5px var(--primary);
}
.nav-links {
    display: flex;
    gap: 20px;
    font-size: 18px;
    /* height: 100%; */
}
.nav-item {
    position: relative;
}
.nav-item::before {
    content: "";
    width: 0%;
    transition: 0.1s;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primarylight);
    display: block;
}
.nav-item:hover {
    color: var(--primarylight);
}
.nav-item:hover::before {
    width: 100%;
}

.hero {
    height: 300px;
    position: relative;
}

.hero-ball1,
.hero-ball2 {
    position: absolute;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    filter: blur(1px);
    opacity: 0.5;
}
.hero-ball1 {
    top: 20%;
    left: 20%;
    width: 300px;
    height: 300px;
}

.hero-ball2 {
    bottom: 10%;
    right: 10%;
}
.hero-title {
    font-size: 100px;
    text-align: center;
    color: var(--primary);
    text-shadow: 0px 0px 10px var(--primary);
}
.hero > .container {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}
.hero-subtitle {
    font-size: 40px;
}
.hero-quote {
    font-size: 30px;
    color: var(--primarylight);
    text-shadow: 0px 0px 10px var(--primarylight);
    text-align: center;
}
.scrolldown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.scrolldown-arrow {
    width: 30px;
    animation: infinite scrolldown 1s;
}
@keyframes scrolldown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}
.scrolldown-arrow img {
    width: 100%;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--primary);
}
.subtitle {
    font-size: 24px;
    color: var(--text-muted);
    margin-bottom: 30px;
}
section {
    padding: 20px 0;
}
section:first-child {
    border-top: 1px solid var(--border);
}
section:nth-child(even) {
    background: var(--primary-muted2);
    backdrop-filter: blur(10px);
}

section.nobg {
    background: none;
    backdrop-filter: none;
}

.divided {
    display: flex;
    gap: 40px;
}
.divided .right,
.divided .left {
    flex: 1;
    align-self: center;
}
.section-img {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    background: var(--primary-muted2);
}

.section-img img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.title.centered {
    text-align: center;
    margin-bottom: 40px;
}
.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card {
    flex: 1;
    border-radius: 10px;
    padding: 20px;
    background: var(--backgroundsecondary);
    border: var(--border) 1px solid;
    transition: 0.2s ease-out;
}
.card:hover {
    box-shadow: 0px 0px 20px 1px var(--primary);
    scale: 1.02;
}
.card-img {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 16 / 9;
}
.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0 0;
    color: var(--primary);
    text-align: center;
}
.card-subtitle {
    text-align: center;
    font-size: 18px;
    color: var(--primarylight);
    margin-bottom: 10px;
}
.card-description {
    font-size: 16px;
    color: var(--text-muted);
    text-align: center;
}
section > .container > p {
    padding: 10px 0;
    text-align: center;
}

footer {
    padding: 20px 0;
    text-align: center;
    color: var(--text-muted);
    background: var(--backgroundsecondary);
}
section .abutton {
    margin-top: 40px;
}
nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid transparent;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
body {
    position: relative;
}
.subtitle.centered {
    text-align: center;
    color: var(--primarylight);
}
.title.centered.subtitled {
    margin-bottom: 0;
}
.burger {
    display: none;
}
.burger::before,
.burger::after {
    transition: 0.1s;
}
.burger {
    user-select: none;
}
.container.burger-container {
    display: none;
}
nav.scrolled {
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 10px var(--backgroundsecondary);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 1px solid var(--primary);
    background: var(--primary-muted2);
}
nav:has(.active) {
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 10px var(--backgroundsecondary);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 1px solid var(--primary);
    background: var(--primary-muted2);
}
.hero {
    padding-top: 80px;
}
.hero-home {
    height: 100dvh;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    margin: auto;
}

.contact-form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    background: var(--background);
    color: var(--text);
    font-size: 16px;
    width: 100%;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: var(--text);
    box-shadow: 0px 0px 5px var(--text-muted);
}
.contact-form select {
    padding: 10px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    background: var(--background);
    color: var(--text);
    font-size: 16px;
}
.contact-form .checkbox input {
    width: fit-content;
}
.contact-form .checkbox div {
    display: block;
}
.contact-form button {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: var(--background);
    color: var(--primary);
    border: 1px solid var(--primary);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
.hero-quote-timer span {
    font-weight: bold;
}
.title2 {
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: bold;
    color: var(--primarylight);
}
.list {
    list-style: disc;
    padding-left: 20px;
}

.section-block {
    margin-top: 10px;
    padding: 15px;
    background: var(--backgroundsecondary);
    border-radius: 10px;
    border: 1px solid var(--border);
    background: var(--primary-muted2);
}

section {
    scroll-margin-top: 80px;
}

.ticket-img {
    aspect-ratio: unset;
    max-width: 500px;
    margin: 0 auto;
    height: fit-content;
    border-radius: 0;
}
.ticket-img img {
    width: 100%;
}

.aboutus .hero {
    height: 100dvh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}
.aboutus-main {
    padding-top: 80px;
}
.aboutus-main section {
    background: none;
}
.shiny {
    text-shadow: 0px 0px 10px var(--primary);
}

.profiles {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.profile {
    backdrop-filter: blur(5px);
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid var(--border);
    background: var(--primary-muted2);
    flex: 1;
    margin: auto;
    max-width: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transform: perspective(0px) rotateY(0deg) rotateX(0deg);
    animation-duration: 3s;
    animation-iteration-count: infinite;
    min-height: 580px;
    max-height: 580px;
    gap: 10px;
}

.profile::before {
    content: "";
    position: absolute;
    top: 150%;
    left: 50%;
    width: 150%;
    height: 50px;
    background: #fff;
    z-index: 1;
    opacity: 0.2;
    transform: rotate(30deg) translateX(-50%);
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.profile::after {
    content: "";
    position: absolute;
    top: 150%;
    left: 50%;
    width: 150%;
    height: 10px;
    background: #fff;
    z-index: 1;
    opacity: 0.2;
    transform: rotate(30deg) translateX(-50%);
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes rotation-before {
    0% {
        top: 140%;
    }
    50% {
        top: 5%;
    }
    100% {
        top: 140%;
    }
}
@keyframes rotation-after {
    0% {
        top: 130%;
    }
    50% {
        top: 20%;
    }
    100% {
        top: 130%;
    }
}

@keyframes rotation {
    0% {
        transform: perspective(1000px) rotateY(5deg) rotateX(5deg);
    }
    50% {
        transform: perspective(1000px) rotateY(-5deg) rotateX(-5deg);
    }
    100% {
        transform: perspective(1000px) rotateY(5deg) rotateX(5deg);
    }
}

@keyframes rotation2 {
    0% {
        transform: perspective(1000px) rotateY(5deg) rotateX(5deg);
        opacity: 0;
        box-shadow: 0px 0px 30px -20px var(--primary);
    }
    10% {
        opacity: 1;
    }
    25% {
        box-shadow: 0px 0px 20px -5px var(--primary);
    }
    50% {
        transform: perspective(1000px) rotateY(-5deg) rotateX(-5deg);
        box-shadow: 0px 0px 30px -20px var(--primary);
    }
    75% {
        box-shadow: 0px 0px 20px -5px var(--primary);
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: perspective(1000px) rotateY(5deg) rotateX(5deg);
        opacity: 0;
        box-shadow: 0px 0px 30px -20px var(--primary);
    }
}

.profile:hover {
    box-shadow: 0px 0px 30px -20px var(--primary);
    scale: 1.1;
    animation-name: rotation;
    opacity: 1 !important;
}
.profiles:has(> .profile:hover) .profile {
    opacity: 0.2;
}
.profile:hover:before {
    animation-name: rotation-before;
}

.profile:hover:after {
    animation-name: rotation-after;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--border);
}
.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.profile-name {
    font-size: 20px;
    font-weight: bold;
    color: var(--primary);
    text-align: center;
}
.profile-id {
    font-size: 16px;
    color: var(--primarylight);
}
.profile-text {
    font-size: 14px;
    color: var(--text);
    text-align: justify;
}
.profile-text span {
    font-weight: bold;
}
.showcase {
    gap: 100px;
    padding: 30px 0;
}

.showcase .profile {
    animation-name: rotation2;
    box-shadow: 0px 0px 30px -20px var(--primary);
}
.showcase .profile:hover {
    scale: none;
}
.showcase .profile::before {
    animation-name: rotation-before;
}
.showcase .profile::after {
    animation-name: rotation-after;
}
.aboutus-scrolldown {
    padding-top: 10px;
}
.ticket-container {
    border: 1px solid var(--border);
    border-radius: 20px;
    background: var(--primary-muted2);
    padding: 20px;
}
.ticket-container:not(:last-child) {
    margin-bottom: 20px;
}
.background-fixed {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100dvh;
}

.list-item.special {
    list-style: square;
}

.events {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.event {
    background: var(--primary-muted2);
    padding: 20px;
    min-width: 260px;
    max-width: 500px;
    margin: auto;
    border-radius: 40px;
    border: 1px solid var(--border);
    cursor: pointer;
}
.event:hover {
    scale: 1.02;
    box-shadow: 0 0 10px var(--primary);
}
.event-img {
    aspect-ratio: 1 / 1;
    background: var(--backgroundsecondary);
    overflow: hidden;
    border-radius: 20px;
}
.event-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.event-schedule {
    text-align: center;
    padding: 15px 0 5px;
    color: var(--primary);
    font-size: 24px;
}
.event-location {
    text-align: center;
    color: var(--primarylight);
    padding-bottom: 15px;
    font-size: 18px;
}
@keyframes carousel {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.events-carousel,
.foodstalls-carousel {
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.event-features p {
    text-align: justify;
}
.map {
    aspect-ratio: unset;
}
.toc-agreement a{
    display: inline;
    width: fit-content;
    color: var(--primary);
    text-decoration: underline;
}
